.shipments {
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 20px;
  margin: 25px;
  border: 1px solid transparent;
  border-radius: 10px;

  h3 {
    font-family: "Open Sans", sans-serif;
  }

  .status-cell {
    display: flex;
    align-items: center;

    .material-icons {
      font-size: 20px;
    }

    .in-progress {
      color: deepskyblue;
    }

    .done {
      color: green;
    }

    p {
      margin-left: 5px;
    }
  }
}
